# template
/docs/*.py          export-ignore
/docs/*.txt         export-ignore
/docs/_*            export-ignore
/tests              export-ignore
/.git*              export-ignore
/*.yml              export-ignore
/*.yaml             export-ignore
/*.xml              export-ignore
/*.xml.dist         export-ignore

# project
/sandbox            export-ignore
